.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin: 18px;
    flex-basis: 219px;
    flex-grow: 0;

}
.card2 {
     padding: 0px;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 50px;
    margin: auto;
    flex-basis: 219px;
    flex-grow: 0;

    }

.card img{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 430px;
    filter: brightness(60%);
}
.card h3 {
    font-family: Rubik Mono One;
    flex-grow: 1;
    padding-left: 79px;
    font-size: 20px;
    position: absolute;
    color: #FFFFF0;
}


.coursePay{
    float: left;
    margin-left:17%;
    margin-top: 3%;
    width: 30%;
    height: 35%;
    background: #feffeb;
}
.courseOrder{
    float: left;
    margin-left:6%;
    margin-top: 3%;
    width: 35%;
    height: 40%;
    
    background: #feffeb;
}
.courseOrder .ur{
    margin-left:8%;
    margin-right:8%;
    line-height: 50px;
    font-size: 23px;
    font-weight: 500;
}
.courseOrder .total{
    margin-left:8%;
    margin-right:8%;
    font-size: 23px;
    font-weight: 500;
}


@media (max-width:1250px) {
    .courseOrder .ur{
        font-size: 20px;
    }

    .courseOrder .total{
        font-size: 20px;
    }
}
input[type=radio]{
    position: relative;
    top: -50px;
    margin-bottom: 20px;
    width: 50px;
}

.basicMou1{
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 6%
}
.basicMou2{
    display: inline-block;
    float: right;
    width: 40%;
    margin-right: 6%
}